body {
    
    background-image: url (kfc site.jpg);
    color: blue;
    font-family: verdana;
    font-size: 20px;
}
#titre1 {
    color: red;
    font-size: 50px;
    font-family: Anton;
    text-align: center;
}
.titre {
    color: green;
    font-size: 35px;
    text-align: left;
    border-bottom: 1px black solid;
    width: 125px;
}
img{
    font-size: 15%;
    padding: 10px;
    margin: 20px;
    border: 5px solid red;
    border-radius: 10px;
    background-color: blue;
}
table {
    border: 2px solid red;
    border-collapse: collapse;
    width: 50%;
    margin-left: 20px;
    margin-right: 20px;
}
.cellule {
    width: 30%;
    border: 2px solid black;
    text-align: center;
}
#ligne1{
    color: red;
    font-size: 30px;
    text-align: center;
}
tr{
    color: black;
    font-size: 10px;
}
